.heading {
  @extend %heading;

  &--1 {
    font-size: $heading1-font-size - 0.8rem;
  }

  &--2 {
    font-size: $heading2-font-size;
  }

  &--3 {
    font-size: $heading1-font-size;
  }
}

.desc {
  @extend %desc;
  color: $color-grayish-blue;

  &--primary {
    font-size: $default-font-size + 0.4;
  }

  &--secondary {
    font-size: $default-font-size + 0.2;
  }
}
